!!! 5
%html
  %head
    %link{href: "/css/bootstrap.css", :type => "text/css", :rel => "stylesheet"}
    %link{href: "/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet"}
    %title  HTML is old

  %body

    %div#header
      %div.navbar
        %div.navbar-inner
          %a.brand{href: '#'}
            Another blog
          - if session[:admin] == :true
            %form.navbar-form.pull-right{name: "logout",method: "post", action: "/admin_logout"}
              %input{type: "hidden", value: "#{@params['post_id']}", name: "post_id"}
              %button.btn{type: "submit"}
                Logout
          - else
            %form.navbar-form.pull-right{name: "login",method: "post", action: "/admin_connect"}
              %input.span2{type: "text", placeholder: "Username", name: "username"}
              %input.span2.input-small{ type: "password", placeholder: "Password", name: "password"}
              %input{type: "hidden", value: "#{@params['post_id']}", name: "post_id"}
                %button.btn{type: "submit"}
                  Login

      %h1.my_class#my_id My blog
      / ADD MENU HERE

    / %h2.message= @message
    %div#page
      =yield

    %footer
    %script{src: "/js/bootstrap.min.js"}
