%div.post
  %div.edit_body
    %form{name: "create", method: "post", action: "/create"}
      %input.edit_content{type: "text", name: "title", placeholder: "Title"}
      %br
      %textarea.edit_content{ name: "content", placeholder: "Content"}
      %br
      %input.edit_content{type: "text", name: "tags", placeholder: "Tags"}
      - if session[:admin] == :true
        %ul.post_edit
          %li.post_edit
            %button.btn{type: "submit"}
              Create
          %li.post_edit
            %a{href: "/posts"}
              Cancel
